{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Arial;
	font-weight: 200;
	background-color: #E0E0E0;
}

a {
	color: hsl(200, 50%, 50%);
	text-decoration: none;
}

/*
a.active {
 	color: hsl(20, 50%, 50%);
}*/


header {
  overflow: hidden;
  position: relative;
	width: 100%;
	height: 400px;
	margin-bottom: -100px;
	background-color: #00BCD4;
  /*607D8B*/
}

.circle {
  position: absolute;
  background-color: #607D8B;
  width: 0px;
  height: 0px;
  margin-left: 0;
  margin-top: 0;
  border-radius: 50%;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  width: 100%;
}

nav {
  position: relative;
  z-index: 100;
	padding: 0 10px;
	color: #fff;
	width: auto;
	height: 60px;
}

nav div {
	width: auto;
	height: inherit;
}

.header-nav {
  position: relative;
  z-index: 100;
  margin: 160px auto 0 auto;
  color: #ffffff;
  font-weight: 100;
  width: 70%;
  /*opacity: 0.0;*/
  /*transition: all 0.5s linear;*/
}

nav a, .header-nav a {
	position: relative;
	font-size: 1em;
	color: #fff;
	height: inherit;
	padding: 0 20px;
}


nav a:before, .header-nav a:before {
	content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: #fff;
	transition: width 0.3s;
}

.header-nav a {
  font-size: 1em;
}

.header-nav a:before { 
  height: 2px;
}
.header-as {
  height: 40px;
}

nav a.animate:before, .header-nav a.animate:before {
	width: 100%;
}


.flex-layout {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
}
.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.column-reverse {
    -webkit-flex-direction: column-reverse ;
    flex-direction: column-reverse ;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.v-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.v-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.v-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.h-center {
    -webkit-align-items: center;
    align-items: center;
}

.flex-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end; 
}

#main {
	width: 100%;
}

#main>div {
	width: inherit;
}

#main-content {
	width: inherit;
	min-height: 500px;
	margin-top: -100px;
	background: rgba(0, 0, 0, 0.4);
	/*border: solid 1px red;*/
}

.left {
  background-color: red;
  flex-grow:7;
}

.left img {
  height: 100%;
}

.right {
  flex-grow:3;
  background-color: yellow;
}

.right img {
  height: 50%;
}

.right>div {
  flex-grow:1;
}

.right>div:nth-child(even) {
    background: #0000ff;
}

.schedule {
  width: 70%;
  height: 500px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
}

.card {
  /*padding: 10px 20px;*/
	position: relative;
	z-index: 100;
	width: 70%;
	margin: 0 auto;
	min-height: 200px;
	background-color: #fff;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
}

.card>div {
  margin: 10px 20px;
  flex-grow:1;
}

.card h1, .card h2, .card h3 {
  margin: 0 0 10px 0;
  color: #757575;
}

.card .other {
  border-top: solid 1px #E0E0E0;
  /*position: relative;*/
  height: 60px;
  flex-grow:0;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #fff;
  padding-bottom: 20px;
}

footer h2 {
  color: gray;
}

footer a:hover {
  cursor: pointer;
}

footer div:nth-child(1) {
  height: 40px;
  margin-right: 30px;
}

#foot-info {
  padding-right: 20px;
  border-bottom: solid 1px #E0E0E0;
  margin: 10px 0;
  height: 30px;
}

#foot-info a {
  margin: 0 20px;

}

.example-enter {
  opacity: 0.01;
  transform: translateY(100px);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in;
}

.example-leave {
  opacity: 1;
  transform: translateY(0);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: translateY(100px);
  transition: all 500ms ease-in;
}

